/*Header*/

.header-spacer {
    flex: 1 1 auto;
}

/*left panel*/

.row {
    height: 100%;
}

.left-panel {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.left-panel button {
    color: #f35454;
    padding: 15px 0;
}

@media screen and (max-width: 600px) {
    .left-panel {
        position: fixed;
        z-index: 9;
        background: white;
        height: 100%;
    }
}

/*Content*/

.content {
    padding: 20px;
    overflow-y: auto;
    background: #f8f8f8;
}

.content::-webkit-scrollbar {
    width: 5px;
    background: none
}

.content::-webkit-scrollbar-thumb {
    background: #673ab7;
}

/*Notifies*/

.mat-menu-header, .mat-menu-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.mat-menu-card {
    padding: 0 12px 10px;
}