.header-spacer {
    flex: 1 1 auto;
}

/*left panel*/

.left-panel-container {
    height: 90%;
    overflow-y: auto;
}

.left-panel-content {
    padding: 2%;
}

.left-panel-content::-webkit-scrollbar {
    width: 5px;
    background: none
}

.left-panel-content::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.8);
    border-radius: 25px
}

.left-panel .mat-list-item-content {
    padding: 0 !important;
}

.left-panel .mat-button {
    width: 100%;
    height: 100%;
    color: #f35454;
    text-align: left;
}

/*Notifies*/

.mat-menu-header, .mat-menu-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.mat-menu-card {
    padding: 0 12px 10px;
}