<mat-card fxLayout="column" fxLayoutGap="2%">

    <mat-card-title fxFlex="100%">
        <ng-container [ngSwitch]="idea.status">
            <small class="status" [ngClass]="'primary'" *ngSwitchCase="'ACCEPTED'">Принято</small>
            <small class="status" [ngClass]="'accent'" *ngSwitchCase="'LOOKING'">Рассматривается</small>
            <small class="status" [ngClass]="'warn'" *ngSwitchCase="'REFUSED'">Отказано</small>
        </ng-container>
        <span class="title">{{idea.title}}</span>
    </mat-card-title>

    <mat-card-content fxFlex="100%" class="card-content">
        <p class="text">{{idea.text}}</p>
    </mat-card-content>

    <mat-card-content fxFlex="100%" *ngIf="idea.images.length > 0">
        <p><strong>Прикрепленные изображения</strong></p>
        <div fxLayout="row wrap" class="load-images">
            <img [src]="uploadImagePath + image" (click)="resize(image)" *ngFor="let image of idea.images"
                 class="image mat-elevation-z2" alt="loaded.image" fxFlex.xs="24%" fxFlex.lt-lg="19%" fxFlex.lg="9%" fxFlex.gt-lg="9%">
        </div>
    </mat-card-content>

    <mat-card-content fxFlex="100%" *ngIf="(idea.files | size) > 0">
        <p><strong>Прикрепленные документы</strong></p>
        <br>
        <div fxLayout="row wrap" fxLayoutGap="5%">
            <a href="assets/uploaded/files/{{file.key}}" target="_blank" class="files" *ngFor="let file of idea.files | keyvalue" fxFlex.xs="45%" fxFlex.lt-lg="19%" fxFlex.lg="9%" fxFlex.gt-lg="9%">
                <img [src]="'assets/images/' + (file.value | imagevar)" alt="image">
                <p>{{file.value | filename}}</p>
            </a>
        </div>
    </mat-card-content>

    <mat-card-footer fxFlex="100%" fxLayout.xs="column wrap" fxLayout.gt-xs="row">

        <div fxFlex="fit-content" class="left">
            <button mat-button [routerLink]="['/', 'user', idea.author.id]">{{idea.author.name}} ({{idea.author.post}})</button>
        </div>

        <div fxFlex class="right">
            <div class="rating">
                <button [ngClass]="voted == 1 ? '' : 'silver'" matTooltip="За" (click)="addRating()" mat-icon-button><mat-icon>thumb_up</mat-icon></button>
                <strong>{{idea.rating}}</strong>
                <button [ngClass]="voted == -1 ? '' : 'silver'" matTooltip="Против" (click)="reduceRating()" mat-icon-button><mat-icon>thumb_down</mat-icon></button>
            </div>
            <div class="looks">
                <strong>{{idea.looks}}</strong>
                <mat-icon class="silver" matTooltip="Просмотры">visibility</mat-icon>
            </div>
            <div class="date">
                <strong>{{idea.createdDate}}</strong>
                <mat-icon matTooltip="Дата создания" class="silver">date_range</mat-icon>
            </div>
        </div>

    </mat-card-footer>
</mat-card>

<div class="canvas" (click)="resize(null)" [@fade] *ngIf="resizableImage">
    <img [src]="uploadImagePath + resizableImage" alt="resize.image">
</div>