/Ex72.iml
/backend/backend.iml
/backend/idea/idea.iml
/backend/emailer/emailer.iml
/backend/idea/.dockerignore
/backend/emailer/.dockerignore
/.idea/
/frontend/.browserslistrc
/frontend/.dockerignore
/frontend/.editorconfig
/frontend/.gitignore
/frontend/frontend.iml
/frontend/tsconfig.app.json
/frontend/tsconfig.json
/frontend/tsconfig.spec.json
/frontend/README.md
/frontend/package-lock.json
