<mat-card>
    <mat-card-title fxLayout.xs="column wrap" fxLayoutGap.xs="5%" fxLayout.gt-xs="row">
        <span fxFlex.gt-xs="100%" fxFlexOrder.xs="2" class="title">Description</span>
    </mat-card-title>
    <mat-card-content>
        <p class="text">
            Welcome to the app! If you're thinking about is it the best project I've ever seen? - I'll tell you - yes it is!
        </p>
        <p>
            I don't know what to place here. So, I just leave that phrase here for a while.
        </p>
        <p>
            Oh, wanna tell you about the application's made of: Angular framework is used for Frontend. It is what you can see now. <br>
            Spring is used for Backend. This one is processing and store data. But don't disappointing, there is lots of things that is being doing as well.
        </p>
    </mat-card-content>
</mat-card>