mat-form-field {
    display: block;
    margin-bottom: 10px;
}

.form-container {
    margin: 5%;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}

.form-actions button {
    margin-left: 10px;
}

.mat-form-field textarea {
    height: 200px;
}

.advices {
    height: fit-content;
}

.advices ul {
    padding-left: 15px;
    list-style: auto;
}

.advices ul li {
    margin-bottom: 10px;
}