<mat-card>
    <mat-card-content>
        <h2 class="silver">Личные данные</h2>
        <form [formGroup]="personalForm" fxLayout="column wrap">
            <div fxLayout.xs="column" fxLayoutGap.xs="5%" fxLayout.gt-xs="row">

                <div class="avatar" fxFlex.xs="100%" fxFlex.gt-xs="20%">
                    <button type="button" mat-mini-fab (click)="imageLoader.reset(); removeAvatar = false" *ngIf="imageLoader.loadImage || removeAvatar" color="accent">
                        <mat-icon>close</mat-icon>
                    </button>
                    <button type="button" mat-mini-fab (click)="removeAvatar = true" *ngIf="(user.avatar && !imageLoader.loadImage) && !removeAvatar" color="warn">
                        <mat-icon>close</mat-icon>
                    </button>
                    <input type="file" accept="image/*" fxHide (change)="imageLoader.load($event); removeAvatar = true" #loadInput>
                    <img [src]="'/assets/uploaded/images/avatar/' + user.avatar" alt="avatar" *ngIf="!imageLoader.loadImage && !removeAvatar && user.avatar">
                    <img src="assets/images/user.png" alt="avatar" *ngIf="(!user.avatar && !imageLoader.loadImage) || removeAvatar && !imageLoader.loadImage">
                    <img [src]="imageLoader.loadImage" alt="avatar" *ngIf="imageLoader.loadImage">
                    <button type="button" mat-mini-fab (click)="loadInput.click()" color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>

                <div class="col" fxLayout="column" fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>имя</mat-label>
                        <input matInput pattern="[a-zA-Zа-яА-Я]*" formControlName="firstName">
                        <mat-error *ngIf="personalForm.get('firstName').hasError('required')">заполните поле</mat-error>
                        <mat-error *ngIf="personalForm.get('firstName').hasError('pattern')">некорректно введены данные</mat-error>
                        <mat-error *ngIf="personalForm.get('firstName').hasError('maxlength')">
                            максимальная длина {{personalForm.get('firstName').errors.nameForm.requiredLength}} символов
                            (сейчас {{personalForm.get('firstName').errors.maxlength.actualLength}})</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>отчество</mat-label>
                        <input matInput pattern="[a-zA-Zа-яА-Я]*" formControlName="secondName">
                        <mat-error *ngIf="personalForm.get('secondName').hasError('required')">заполните поле</mat-error>
                        <mat-error *ngIf="personalForm.get('secondName').hasError('pattern')">некорректно введены данные</mat-error>
                        <mat-error *ngIf="personalForm.get('secondName').hasError('maxlength')">
                            максимальная длина {{personalForm.get('secondName').errors.maxlength.requiredLength}} символов
                            (сейчас {{personalForm.get('secondName').errors.maxlength.actualLength}})</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>фамилия</mat-label>
                        <input matInput pattern="[a-zA-Zа-яА-Я]*" formControlName="lastName">
                        <mat-error *ngIf="personalForm.get('lastName').hasError('required')">заполните поле</mat-error>
                        <mat-error *ngIf="personalForm.get('lastName').hasError('pattern')">некорректно введены данные</mat-error>
                        <mat-error *ngIf="personalForm.get('lastName').hasError('maxlength')">
                            максимальная длина {{personalForm.get('lastName').errors.maxlength.requiredLength}} символов
                            (сейчас {{personalForm.get('lastName').errors.maxlength.actualLength}})</mat-error>
                    </mat-form-field>
                </div>

                <div class="col" fxLayout="column" fxFlex>
                    <mat-form-field appearance="outline">
                        <mat-label>телефон</mat-label>
                        <input type="tel" prefix="+7" mask=" (000) 000-00-00" matInput formControlName="phone">
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="personalForm.get('phone').hasError('required')">заполните поле</mat-error>
                        <mat-error *ngIf="personalForm.get('phone').hasError('minlength')">некорректно введены данные</mat-error>
                        <mat-error *ngIf="personalForm.get('phone').hasError('maxlength')">некорректно введены данные</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>дата рождения</mat-label>
                        <input [matDatepicker]="picker" matInput placeholder="01/01/2001" formControlName="birthday">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="personalForm.get('birthday').hasError('required')">укажите дату рождения</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>город проживания</mat-label>
                        <input type="text" matInput formControlName="city">
                        <mat-icon matSuffix>location_on</mat-icon>
                        <mat-error *ngIf="personalForm.get('city').hasError('maxlength')">
                            максимальная длина {{personalForm.get('city').errors.maxlength.requiredLength}} символов
                            (сейчас {{personalForm.get('city').errors.maxlength.actualLength}})</mat-error>
                    </mat-form-field>
                </div>

            </div>

<!--            <div fxLayout.xs="column" fxLayoutGap.xs="5%" fxLayout.gt-xs="row">-->

<!--            </div>-->

            <mat-form-field class="col" fxFlex="100%" appearance="outline">
                <mat-label>О себе</mat-label>
                <textarea type="text" matInput formControlName="about" style="height: 120px"></textarea>
                <mat-error *ngIf="personalForm.get('about').hasError('maxlength')">
                    максимальная длина {{personalForm.get('about').errors.maxlength.requiredLength}} символов
                    (сейчас {{personalForm.get('about').errors.maxlength.actualLength}})</mat-error>
            </mat-form-field>
        </form>

        <h2 class="silver">Сведения о работе</h2>
        <form [formGroup]="jobForm" fxLayout="column wrap">
            <div class="col" fxLayout="column" fxFlex>
                <div fxLayout.xs="column" fxLayoutGap.xs="5%" fxLayout.gt-xs="row">
                    <mat-form-field appearance="outline">
                        <mat-label>должность</mat-label>
                        <mat-select formControlName="post">
                            <mat-option *ngFor="let post of posts" [value]="post.name">{{post.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="jobForm.get('post').hasError('required')">укажите должность</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <mat-card-actions align="end">
            <button type="button" class="col" (click)="save()" mat-flat-button color="accent">Сохранить</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>