form {
    padding: 15px 0;
}

.col {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.avatar {
    text-align: center;
    margin: auto 0;
}

.avatar img {
    width: 120px;
    max-height: 120px;
    border-radius: 100%;
}