<mat-card fxLayout="column" fxLayoutGap="2%">
    <mat-card-title fxLayout="row">
        <span fxFlex="90%">{{idea.title}}</span>
        <ng-container fxFlex="10%" [ngSwitch]="idea.status">
            <small class="status" [ngClass]="'primary'" *ngSwitchCase="'ACCEPTED'">Принято</small>
            <small class="status" [ngClass]="'accent'" *ngSwitchCase="'LOOKING'">Рассматривается</small>
            <small class="status" [ngClass]="'warn'" *ngSwitchCase="'REFUSED'">Отказано</small>
        </ng-container>
    </mat-card-title>
    <mat-card-content>
        <p>{{idea.text}}</p>
    </mat-card-content>
    <mat-card-content>
        <p *ngIf="idea.images"><strong>Прикрепленные изображения</strong></p>
        <div class="load-images" fxLayout="row">
            <img [src]="uploadImagePath + image" (click)="resize(image)" *ngFor="let image of idea.images"
                 class="image mat-elevation-z2" alt="loaded.image" fxFlex.xs="24%" fxFlex.lt-lg="19%" fxFlex.lg="9%" fxFlex.gt-lg="9%">
        </div>
    </mat-card-content>
    <mat-card-footer fxLayout.xs="column wrap" fxLayout.gt-xs="row">
        <div fxFlex="fit-content" class="left">
            <button mat-button>Юрий Викторович (программист 3 категории)</button>
        </div>
        <div fxFlex class="right">
            <div class="rating">
                <button class="silver" mat-icon-button><mat-icon>thumb_up</mat-icon></button>
                <strong>{{idea.rating}}</strong>
                <button class="silver" mat-icon-button><mat-icon>thumb_down</mat-icon></button>
            </div>
            <div class="looks">
                <strong>{{idea.looks}}</strong>
                <mat-icon class="silver">visibility</mat-icon>
            </div>
            <div class="date">
                <strong>{{idea.date | date: 'dd-MM-yyyy'}}</strong>
            </div>
        </div>
    </mat-card-footer>
</mat-card>

<div class="canvas" (click)="resize(null)" *ngIf="resizableImage">
    <img src="{{uploadImagePath + resizableImage}}" alt="resize.image">
</div>

<!--<div class="row" fxLayout.xs="column" fxLayout.gt-md="row" fxLayoutGap="0.5%">-->
<!--    <mat-card fxFlex="80%">-->
<!--        <mat-card-title>-->
<!--            <span>{{idea.title}}</span>-->
<!--        </mat-card-title>-->
<!--        <mat-card-content>-->
<!--            <p>{{idea.text}}</p>-->
<!--        </mat-card-content>-->
<!--        <mat-card-footer>-->

<!--        </mat-card-footer>-->
<!--    </mat-card>-->
<!--    <mat-card fxFlex="20%" fxLayout="column">-->
<!--        <p>Рейтинг: <strong>{{idea.rating}}</strong></p>-->
<!--        <p>Просмотры: <strong>{{idea.looks}}</strong></p>-->
<!--        <p><ng-container [ngSwitch]="idea.status">-->
<!--            <small class="status" [ngClass]="'primary'" *ngSwitchCase="'ACCEPTED'">Принято</small>-->
<!--            <small class="status" [ngClass]="'accent'" *ngSwitchCase="'LOOKING'">Рассматривается</small>-->
<!--            <small class="status" [ngClass]="'warn'" *ngSwitchCase="'REFUSED'">Отказано</small>-->
<!--        </ng-container>-->
<!--        </p>-->
<!--        <p>Создана: <strong>{{idea.date | date: 'dd-MM-yyyy'}}</strong></p>-->
<!--    </mat-card>-->
<!--</div>-->