<div class="content" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="1%">
    <mat-card fxFlex.gt-xs="30%" fxFlexFill fxLayout="column">
        <mat-card-header fxLayout.gt-xs="row">
            <div class="avatar">
                <img src="assets/images/word.png" alt="">
            </div>
            <div class="username">
                <p>Username</p>
                <p>email</p>
                <p>age</p>
                <p>post</p>
            </div>
        </mat-card-header>
        <mat-card-content fxLayout.gt-xs="column">
            <p>Идей</p>
            <p>Рейтинг</p>
            <p>Еще что то</p>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex.gt-xs="70%" fxFlexFill>
        <mat-card-content>
            <p>About</p>
        </mat-card-content>
    </mat-card>
</div>