<div class="content" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="1%">
    <mat-card fxLayout.xs="column" fxFlex.xs="100%" fxFlex.gt-xs="30%" fxFlexFill>
        <mat-card-content class="info-content" fxLayout.lt-lg="column" fxLayout.gt-lg="row">
            <div fxFlex.xs="100%" fxFlex.gt-xs="40%">
                <img src="assets/images/word.png" alt="">
            </div>
            <div fxFlex.xs="100%" fxFlex.gt-xs="60%">
                <p>Сидоров Иван Борисович</p>
                <p class="silver">sidorov@mail.ru</p>
                <p><small>Главный управляющий IT отдела</small></p>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex.xs="100%" fxFlex.gt-xs="68%" fxFlexFill>
        <mat-card-content fxFlex="100%">
            <h3 class="silver">О себе</h3>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex.xs="100%" fxFlex.gt-xs="30%" fxFlexFill>
        <mat-card-content>
            <h3>Идеи</h3>
            <mat-list class="ideas-list">
                <mat-list-item>
                    <span>Всего</span>
                    <span>14</span>
                </mat-list-item>
                <mat-list-item>
                    <span>Принято</span>
                    <span>1</span>
                </mat-list-item>
                <mat-list-item>
                    <span>Рассматривается</span>
                    <span>14</span>
                </mat-list-item>
                <mat-list-item>
                    <span>Отказано</span>
                    <span>4</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>