<mat-card fxLayout="column" fxLayoutGap="5%">
    <mat-card-title>Вход в систему</mat-card-title>

    <mat-card-content>
        <form fxLayout="column" fxLayoutGap="2%" [formGroup]="mainForm" (ngSubmit)="login()">
            <mat-form-field appearance="fill">
                <mat-label>email</mat-label>
                <input type="email" matInput placeholder="pat@example.com" formControlName="email">
                <mat-error *ngIf="mainForm.get('email').hasError('required')">заполните поле</mat-error>
                <mat-error *ngIf="mainForm.get('email').hasError('email')">некорректный email</mat-error>
                <mat-error *ngIf="mainForm.get('email').hasError('maxlength')">
                    максимальная длина {{mainForm.get('email').errors.maxlength.requiredLength}} символов
                    (сейчас {{mainForm.get('email').errors.maxlength.actualLength}})
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>пароль</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="mainForm.get('password').hasError('required')">заполните поле</mat-error>
                <mat-error *ngIf="mainForm.get('password').hasError('maxlength')">
                    максимальная длина {{mainForm.get('password').errors.maxlength.requiredLength}} символов
                    (сейчас {{mainForm.get('password').errors.maxlength.actualLength}})
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="error">{{error}}</mat-error>
            <div class="form-actions">
                <div class="action"></div>
                <div class="action">
                    <button type="button" mat-button routerLink="/registration">регистрация</button>
                    <button type="submit" mat-flat-button color="primary">войти</button>
                </div>
            </div>
        </form>
        <mat-spinner class="form-spinner" mode="indeterminate" *ngIf="preloader"></mat-spinner>
    </mat-card-content>
</mat-card>