<mat-card>
    <mat-card-content>
        <h2 class="silver">Список тэгов</h2>
        <mat-chip-list>
            <mat-chip *ngFor="let tag of tags" (click)="openModal(tag)" color="primary">
                {{tag.name}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-content>
        <form [formGroup]="createForm" (ngSubmit)="create()">
            <mat-form-field appearance="outline">
                <mat-label>добавить тэг</mat-label>
                <input matInput (input)="createListener($event)" formControlName="name">
                <mat-error *ngIf="createForm.get('name').hasError('maxlength')">
                    максимальная длина {{createForm.get('name').errors.maxlength.requiredLength}} символов
                    (сейчас {{createForm.get('name').errors.maxlength.actualLength}})</mat-error>
                <mat-hint *ngIf="tagExists">должность уже существует</mat-hint>
            </mat-form-field>
            <button type="submit" [disabled]="!createForm.get('name').value || createForm.invalid || tagExists" mat-flat-button color="primary">добавить</button>
        </form>
    </mat-card-content>
</mat-card>

<app-modal [obj]="modalTag" (click)="hideModal($event)">
    <mat-card-content *ngIf="modalTag" class="modal-card-content" fxLayout="column">
        <h2>Тэг "{{modalTag.name}}"</h2>
        <form [formGroup]="updateForm" (ngSubmit)="update()" fxFlex.xs="100%" fxFlex.gt-xs="60%">
            <mat-form-field class="col" appearance="outline">
                <mat-label>название</mat-label>
                <input type="text" (input)="changeListener($event)" matInput formControlName="name">
                <mat-error *ngIf="createForm.get('name').hasError('required')">заполните поле</mat-error>
                <mat-hint *ngIf="changeExists">должность уже существует</mat-hint>
                <mat-error *ngIf="createForm.get('name').hasError('maxlength')">
                    максимальная длина {{createForm.get('name').errors.maxlength.requiredLength}} символов
                    (сейчас {{createForm.get('name').errors.maxlength.actualLength}})</mat-error>
            </mat-form-field>
            <button type="submit" class="col" mat-flat-button color="primary"
                    [disabled]="this.modalTag.name == updateForm.get('name').value || createForm.invalid || changeExists">сохранить</button>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button (click)="delete(modalTag)" mat-button color="warn">удалить</button>
    </mat-card-actions>
    <mat-spinner class="form-spinner" mode="indeterminate" *ngIf="preloader"></mat-spinner>
</app-modal>