<mat-card>
    <mat-card-content>

        <h1>Редактирование идеи</h1>
        <form [formGroup]="mainForm" (ngSubmit)="update()">

            <mat-form-field appearance="fill">
                <mat-label>Заголовок</mat-label>
                <input matInput [value]="idea.title" formControlName="title">
                <mat-error *ngIf="mainForm.get('title').hasError('required')">заполните поле</mat-error>
                <mat-error *ngIf="mainForm.get('title').hasError('minlength')">
                    минимальная длина {{mainForm.get('title').errors.minlength.requiredLength}} символов
                    (сейчас {{mainForm.get('title').errors.minlength.actualLength}})
                </mat-error>
                <mat-error *ngIf="mainForm.get('title').hasError('maxlength')">
                    максимальная длина {{mainForm.get('title').errors.maxlength.requiredLength}} символов
                    (сейчас {{mainForm.get('title').errors.maxlength.actualLength}})
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Основная идея</mat-label>
                <textarea matInput [value]="idea.text" formControlName="text"></textarea>
                <mat-error *ngIf="mainForm.get('text').hasError('required')">заполните поле</mat-error>
                <mat-error *ngIf="mainForm.get('text').hasError('minlength')">
                    минимальная длина {{mainForm.get('text').errors.minlength.requiredLength}} символов
                    (сейчас {{mainForm.get('text').errors.minlength.actualLength}})
                </mat-error>
                <mat-error *ngIf="mainForm.get('text').hasError('maxlength')">
                    максимальная длина {{mainForm.get('text').errors.maxlength.requiredLength}} символов
                    (сейчас {{mainForm.get('text').errors.maxlength.actualLength}})
                </mat-error>
            </mat-form-field>

            <app-chips [tags]="idea.tags" (tagsEmitter)="setTags($event)" #chips></app-chips>

            <div class="load-images" fxLayout="row wrap" *ngIf="idea.images.length > 0 || imagesLoader.dataTransfer.items.length > 0">
                <p fxFlex="100%"><strong>Прикрепленные изображения</strong></p>
                <img fxFlex.xs="24%" fxFlex.lt-lg="19%" fxFlex.lg="9%" fxFlex.gt-lg="9%" src="{{ uploadPath + image }}" *ngFor="let image of idea.images" class="image mat-elevation-z2"
                     (click)="imagesLoader.remImage($event, image)" alt="load.image">
                <img fxFlex.xs="24%" fxFlex.lt-lg="19%" fxFlex.lg="9%" fxFlex.gt-lg="9%" src="{{ image }}" *ngFor="let image of imagesLoader.loadImages; let index = index" class="image mat-elevation-z2"
                     (click)="imagesLoader.removeImage(image, index, imageInput)" alt="load.image">
            </div>

            <div fxLayout="row wrap" fxLayoutGap="5%" *ngIf="(idea.files | size) > 0 || filesLoader.files.length > 0">
                <p fxFlex="100%"><strong>Прикрепленные документы</strong></p>
                <br>
                <div fxFlex="15%" class="files" *ngFor="let file of idea.files | keyvalue">
                    <img [src]="'assets/images/' + (file.value | imagevar)" alt="image">
                    <p>{{file.value | filename}}</p>
                    <button type="button" mat-icon-button (click)="filesLoader.remFile($event, file.key)" class="cancel">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
                <div fxFlex="15%" class="files" *ngFor="let file of filesLoader.files; let index = index">
                    <img [src]="'assets/' + file.icon" alt="images.image">
                    <p>{{file.name}}</p>
                    <button type="button" mat-icon-button (click)="filesLoader.removeFile(file, index, fileInput)" class="cancel">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </div>

            <div class="form-actions">
                <div class="action">
                    <input type="file" style="display: none" (change)="imagesLoader.load($event)" accept="image/*" multiple #imageInput>
                    <input type="file" style="display: none" (change)="filesLoader.loadFiles($event)"
                           accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf,.xml" multiple #fileInput>
                    <button type="button" mat-icon-button (click)="imageInput.click()">
                        <mat-icon color="warn">add_photo_alternate</mat-icon>
                    </button>
                    <button type="button" mat-icon-button (click)="fileInput.click()">
                        <mat-icon color="warn">description</mat-icon>
                    </button>
                </div>
                <div class="action">
                    <button type="button" (click)="delete()" mat-button color="warn">удалить</button>
                    <button type="submit" (click)="chips.emitChips()" mat-stroked-button color="primary">готово</button>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>