<mat-card *ngIf="idea">
    <mat-card-title>
        <span class="title">{{idea.title}}</span>
        <ng-container [ngSwitch]="idea.status">
            <small class="status" [ngClass]="'primary'" *ngSwitchCase="'ACCEPTED'">Принято</small>
            <small class="status" [ngClass]="'accent'" *ngSwitchCase="'LOOKING'">Рассматривается</small>
            <small class="status" [ngClass]="'warn'" *ngSwitchCase="'REFUSED'">Отказано</small>
        </ng-container>
    </mat-card-title>
    <mat-card-content>
        <p>{{idea.text | truncate: 600}}</p>
    </mat-card-content>
    <mat-card-footer>
        <button mat-button>User (voevoda)</button>
        <small>{{idea.date | date: 'dd-MM-yyyy'}}</small>
        <button [routerLink]="['/ideas', 'id', idea.id]" mat-button>Смотреть</button>
    </mat-card-footer>
</mat-card>