mat-card {
    margin-top: 40px;
    padding: 0;
}

mat-card-title {
    padding: 10px 20px;
    background: silver;
}

mat-card-title, mat-card-footer, mat-card-content {
    padding: 10px 20px;
}

mat-card-title, mat-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

mat-card-content {
    margin: 0;
}