mat-card {
    margin-top: 40px;
    padding: 0;
}

mat-card-title {
    padding: 10px 20px;
    background: silver;
}

.title {
    align-self: center;
    overflow-wrap: anywhere;
}

.right {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .right {
        justify-content: space-between;
    }
}

.right > div {
    display: flex;
    align-items: center;
    margin: 0 2%;
}

.right > div > strong {
    margin: 10px;
}

mat-card-title, mat-card-footer, mat-card-content {
    padding: 10px 20px;
}

mat-card-title, mat-card-footer {
    display: flex;
    align-items: baseline;
}

mat-card-content {
    margin: 0;
}