.modal-overlay {
    width: 100%;
    height: 100%;
    background: #4444448a;
    /*background: #ffffff33;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.modal-card {
    /*background: #3c3c3c;*/
    /*background: white;*/
    /*color: white;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40%;
    height: fit-content;
    z-index: 9;
    margin: auto;
}

@media screen and (max-width: 600px){
    .modal-card {
        width: 70%;
    }
}